<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.quiz.mapper.QuizMapper">

    <insert id="addQuiz" parameterType="quizDto" useGeneratedKeys="true" keyColumn="id" keyProperty="id" >
        INSERT INTO quiz(question,answer, author)
        VALUES (#{question},#{answer}, #{author})
    </insert>

    <select id="listAll" resultType="quizDto">
        SELECT *
        FROM quiz
    </select>

    <select id="findQuiz" resultType="quizDto">
        SELECT *
        FROM quiz
        WHERE id=#{id}
    </select>

    <update id="changeQuiz" parameterType="quizDto">
        UPDATE quiz
        SET question=#{question}, answer=#{answer},author=#{author}
        WHERE id=#{id}
    </update>

    <delete id="removeQuiz">
        DELETE quiz
        WHERE id=#{id}
    </delete>

    <select id="playQuiz" parameterType="Map" resultType="boolean">
        SELECT count(*)
        FROM quiz
        WHERE id=#{id} AND answer=#{answer}
    </select>

</mapper>