<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!--<setting name="logImpl" value="LOG4J2" />-->
    </settings>

    <typeAliases>
        <typeAlias alias="itemDto" type="com.macademy.shop.item.dto.ItemDto" />
        <typeAlias alias="itemImgDto" type="com.macademy.shop.item.dto.ItemImgDto" />
        <typeAlias alias="itemSearchDto" type="com.macademy.shop.item.dto.ItemSearchDto" />
        <typeAlias alias="memberDto" type="com.macademy.shop.member.dto.MemberDto" />
        <typeAlias alias="mainItemDto" type="com.macademy.shop.main.dto.MainItemDto" />
    </typeAliases>
</configuration>