<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.macademy.shop.item.mapper.ItemMapper">

    <!-- 상품 등록 -->
    <insert id="itemInsert" parameterType="itemDto"  useGeneratedKeys="true" keyProperty="itemId" keyColumn="item_id">
        INSERT INTO item(item_name, price, stock_number, item_detail, item_sell_status)
        VALUES(#{itemName}, #{price}, #{stockNumber}, #{itemDetail}, #{itemSellStatus})
    </insert>

    <!-- 상품 이미지 등록-->
    <insert id="insertItemImg" parameterType="itemImgDto">
        INSERT INTO item_img (img_name, ori_img_name, img_url, rep_img_yn, item_id)
        VALUES (#{imgName}, #{oriImgName}, #{imgUrl}, #{repImgYn}, #{itemId})
    </insert>

    <!-- 전체 목록 조회-->
    <select id="itemListAll" resultType="itemDto">
        SELECT  item_id, item_name, price, stock_number, item_detail,
                item_sell_status, reg_time, update_time
        FROM    item
    </select>

    <!-- 상품 검색 -->
    <select id="selectItem" resultType="itemDto">
        SELECT  item_id
                , item_name
                , price
                , stock_number
                , item_detail
                , item_sell_status
                , reg_time
                , update_time
        FROM    item
        WHERE   item_id=#{itemId}
    </select>

    <!-- 상품번호에 맞는 이미지 검색   -->
    <select id="selectItemImg" resultType="itemImgDto">
        SELECT  item_img_id, img_name, ori_img_name, img_url
                , rep_img_yn, item_id, reg_time, update_time
        FROM    item_img
        WHERE   item_id=#{itemId}
        ORDER BY item_img_id
    </select>

    <!-- 이미지 변경을 위해 이미지 번호에 맞는 각각의 이미지 정보 찾기 -->
    <select id="selectItemImgId"  resultType="itemImgDto">
        SELECT  item_img_id, img_name, ori_img_name, img_url
        , rep_img_yn, item_id, reg_time, update_time
        FROM    item_img
        WHERE   item_img_id=#{itemImgId}
    </select>

    <!-- 상품 변경-->
    <update id="updateItem" parameterType="itemDto">
        UPDATE  item
        SET     item_name=#{itemName}, price=#{price}, stock_number=#{stockNumber}
                , item_detail =#{itemDetail}, item_sell_status=#{itemSellStatus}
        WHERE   item_id=#{itemId}
    </update>

    <!-- 상품 이미지 변경-->
    <update id="updateItemImg" parameterType="itemImgDto">
        UPDATE  item_img
        SET     img_name=#{imgName}, ori_img_name=#{oriImgName}, img_url=#{imgUrl}
                , rep_img_yn=#{repImgYn}, item_id=#{itemId}
        WHERE   item_img_id=#{itemImgId}
    </update>

    <sql id="itemSearchConditions">
        <if test="itemSearchDto.searchDateType != null and itemSearchDto.searchDateType !=''">
            <if test="itemSearchDto.searchDateType.equals('1d')">
                AND reg_time &gt; DATE_SUB(NOW(),INTERVAL 1 DAY)
            </if>
            <if test="itemSearchDto.searchDateType.equals('1w')">
                AND reg_time &gt; DATE_SUB(NOW(),INTERVAL 1 WEEK)
            </if>
            <if test="itemSearchDto.searchDateType.equals('1m')">
                AND reg_time &gt; DATE_SUB(NOW(),INTERVAL 1 MONTH)
            </if>
            <if test="itemSearchDto.searchDateType.equals('6m')">
                AND reg_time &gt; DATE_SUB(NOW(),INTERVAL 6 MONTH)
            </if>
        </if>
        <if test="itemSearchDto.searchSellStatus != null ">
            AND item_sell_status = #{itemSearchDto.searchSellStatus}
        </if>
        <if test="itemSearchDto.searchBy != null and itemSearchDto.searchText !=''">
            <choose>
                <when test="(itemSearchDto.searchBy).equals('itemName')">
                    AND item_name LIKE CONCAT('%',#{itemSearchDto.searchText},'%')
                </when>
                <when test="(itemSearchDto.searchBy).equals('itemDetail')">
                    AND item_detail LIKE CONCAT('%',#{itemSearchDto.searchText},'%')
                </when>
            </choose>
        </if>
    </sql>
    <select id="itemListPage" parameterType="map" resultType="itemDto">
        SELECT  item_id, item_name, price, stock_number, item_detail
                , item_sell_status, reg_time, update_time
        FROM    item
        <where>
            <include refid="com.macademy.shop.mapper.commonSql.itemSearchConditions"></include>
        </where>
        ORDER BY item_id DESC
        LIMIT   #{pageSize} OFFSET #{offset}
    </select>

    <select id="countAdminItems" parameterType="map">
        SELECT  COUNT(*)
        FROM    item
        <where>
            <include refid="com.macademy.shop.mapper.commonSql.itemSearchConditions"></include>
        </where>
    </select>

</mapper>