<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.macademy.shop.item.mapper.ItemMapper">
<!--    <resultMap id="itemDtoMap" type="itemDto">-->
<!--        <id property="itemId" column="item_id"/>-->
<!--        <result property="itemName" column="item_name"/>-->
<!--        <result property="stockNumber" column="stock_number"/>-->
<!--        <result property="itemDetail" column="item_detail"/>-->
<!--        <result property="itemSellStatus" column="item_sell_status"/>-->
<!--        <result property="regTime" column="reg_time"/>-->
<!--        <result property="updateTime" column="update_time"/>-->
<!--    </resultMap>-->
    <insert id="itemInsert" parameterType="itemDto" useGeneratedKeys="true" keyProperty="itemId" keyColumn="item_id">
        INSERT INTO item(item_name,price,stock_number,item_detail,item_sell_status)
        VALUES (#{itemName},#{price},#{stockNumber},#{itemDetail},#{itemSellStatus})
    </insert>

    <select id="itemListAll" resultMap="itemDtoMap">
        SELECT *
        FROM item
    </select>
    <select id="selectItem" resultMap="">
        SELECT item_id
                ,item_name
                ,price
                ,stock_number
                ,item_detail
                ,item_sell_status
        FROM item
        WHERE item_id=#{itemId}
    </select>
    <select id="selectItemImg" resultMap="itemImgDto">
        SELECT item_img_id
        ,item_name
        ,ori_img_name
        ,img_url
        ,rep_img_yn
        ,item_id
        ,reg_time
        ,update_time
        FROM item_img
        WHERE item_id=#{itemId}
        ORDER BY item_img_id
    </select>
    <select id="selectItemImgId" resultMap="itemImgDto">
        SELECT item_img_id
        ,item_name
        ,ori_img_name
        ,img_url
        ,rep_img_yn
        ,item_id
        ,reg_time
        ,update_time
        FROM item_img
        WHERE item_img_id=#{itemImgId}
        ORDER BY item_img_id
    </select>
    <update id="updateItem" parameterType="itemDto">
        UPDATE item
        SET item_name=#{itemName},price=#{price},stock_number={stockNumber},
            item_detail=#{itemDetail},item_sell_status=#{itemSellStatus}

    </update>
    <update id="updateItemImg" parameterType="itemImgDto">
        UPDATE item_img
        SET img_name=#{imgName},ori_img_name=#{oriImgName},img_url={imgUrl},
            rep_img_yn=#{repImgYn},item_id=#{itemId}
        WHERE item_img_id=#{itemImgId}
    </update>
    <select id="itemListPage" parameterType="map" resultMap="itemDto">
        SELECT item_id,item_name,price,stock_number,item_detail,item_sell_status,reg_time,update_time
        FROM    item
        ORDER BY item_id
        LIMIT   #{pageSize} OFFSET #{offset}
    </select>
</mapper>