<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form th:action="@{/confirm}" method="post">
        <div>
            <label for="name">이름</label>
            <input type="text" name="name" id="name">
        </div>
        <div>
            <label for="age">나이</label>
            <input type="text" name="age" id="age">
        </div>
        <div>
            <label for="birth">생일</label>
            <input type="text" name="birth" id="birth">
        </div>
        <input type="submit" value="전송">
    </form>
</body>
</html>