<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <h4><a href="@{/function/1}">기능1</a></h4>
  <h4><a href="@{/function/2}">기능2</a></h4>
  <h4><a href="@{/function/3}">기능3</a></h4>
  <h4><a href="@{/function/4}">기능5</a></h4>
  <form th:action="@{/send}" method="post">
      <input type="submit" value="buttonA" name="a">
      <input type="submit" value="buttonB" name="b">
      <input type="submit" value="buttonC" name="c">
  </form>
</body>
</html>